/* ===================== GENERAL ============================== */
* {
	font-family: arial, sans-ms;
}

#main-wrapper {
	width: 1020px;
	margin: auto;
}


#logo, section h1+h2 {
	display: inline-block;
}


/* ===================== HEADER ============================== */

header nav  {
	position: absolute;
	right: 0px;
	top: 15px;
}

header nav div {
	display: inline;
	margin: 10px;
	padding: 5px;
}

#logo img {
	width: 40px;
	height: 40px;
}

#logo, section h1+h2  {
	align-items: left;
}


/* ===================== SECTION ============================== */
section h1 {
	color: red;

}

section h1+h2 {
	margin: 0;
}


#title {
	width: 300px;

}

#recherche, nav, .blocks  {
	display: flex;
}


#recherche, #recherche div, .choose {
	border: lightgrey solid 0.5px;
}

#recherche {
	border-radius: 5px;
}

#recherche div {
	width: 33.33%;
	padding: 5px;
}

#recherche div div {
	border: none;
}

nav.secondary {
	margin-top: 40px;
	border-bottom: lightgrey solid 0.5px;
}

nav div{
	padding: 10px;

}

.select {
	color: DarkCyan;
	border-bottom: DarkCyan solid 0.5px;
}

.form {
	display:inline-block;
}



.form:nth-of-type(2)  {
	background-color: red;
	color: white;
	border-radius: 5px;
	padding: 15px;
}





/* ===================== MAIN ============================== */

/* ######### BLOC1 ######### */
.blocks {
	flex-flow: row nowrap;
	padding: 10px;
	position: relative;
	justify-content: space-between;
	align-items: center;
}
.blocks img+p {
	
}

section > p {
	text-align: right;
}

.blocRevenus {
	width: 50%;
}

div#revenus {
	padding: 10px;
	background-color: DarkCyan;
	border-radius: 5px;
	width: 150px;
}

/* ===================== FOOTER ============================== */

.choose {
	padding: 15px;
	color: lightGrey;
	width: 150%;
}

